{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Deposits list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contentprovidersid</th>
                <th>Uuid</th>
                <th>Title</th>
                <th>Datedeposited</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('deposits_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.contentProvidersId }}</td>
                <td>{{ entity.uuid }}</td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.dateDeposited %}{{ entity.dateDeposited|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('deposits_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
