{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Content</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ entity.size }}</td>
            </tr>
            <tr>
                <th>Datedeposited</th>
                <td>{{ entity.dateDeposited|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Checksumtype</th>
                <td>{{ entity.checksumType }}</td>
            </tr>
            <tr>
                <th>Checksumvalue</th>
                <td>{{ entity.checksumValue }}</td>
            </tr>
            <tr>
                <th>Recrawl</th>
                <td>{{ entity.recrawl }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('content') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('content_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
