<entry xmlns="http://www.w3.org/2005/Atom" 
       xmlns:sword="http://purl.org/net/sword/" 
       xmlns:lom="http://lockssomatic.info/SWORD2">
    <sword:treatment>Content URLs deposited to {{ lom_sitename }}, collection {{ contentProvider.name }}.</sword:treatment>
    
    <!-- Edit-IRI -->
    <link rel="edit" href="{{ url('lockssomatic_deposit_receipt', { 'contentProviderId': contentProvider.uuid, 'uuid': deposit.uuid } ) }}" />

    <content src="{{ url('lockssomatic_sword_cont_iri', {'contentProviderId': contentProvider.uuid, 'uuid': deposit.uuid}) }}"/>

    <title>{{ deposit.title }}</title>
    <id>urn:uuid:{{ deposit.uuid }}</id>
    <updated>{{ deposit.dateDeposited|date('Y-m-d H:i:s') }}</updated>
    <author><name>Unused.</name></author>
    <summary type="text">Unused.</summary>
    {% for content in deposit.content %}
        <lom:content recrawl="{% if content.recrawl %}true{% else %}false{% endif %}" size="{{ content.size }}" checksumType=" {{ content.checksumType }}" checksumValue="{{ content.checksumValue }}">{{ content.url }}</lom:content>
    {% endfor %}
</entry>
