{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Log entry list</h1>

    <table class="records_list table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Pln</th>
                <th>Bundle</th>
                <th>Caller</th>
                <th>Level</th>
                <th>Summary</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user }}</td>
                <td>{% if entity.pln %}{{ entity.pln.name }}{% endif %}</td>
                <td>{{ entity.bundle }}</td>
                <td>{{ entity.caller }}</td>
                <td>{{ entity.level }}</td>
                <td><a href="{{ path('log_show', { 'id': entity.id }) }}">{{ entity.summary }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
