{% extends '::base.html.twig' %}

{% block body -%}
    <h1>LomSettings list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sitename</th>
                <th>Baseurl</th>
                <th>Ipaddress</th>
                <th>Pathtouploads</th>
                <th>Pathtoplnfiles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('lomsettings_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.siteName }}</td>
                <td>{{ entity.baseUrl }}</td>
                <td>{{ entity.ipAddress }}</td>
                <td>{{ entity.pathToUploads }}</td>
                <td>{{ entity.pathToPlnFiles }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('lomsettings_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('lomsettings_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('lomsettings_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
