{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block pageheader %}"}}
    <h1>{{ entity }} List</h1>
{{ "{% endblock %}"}}

{{ "{% block body -%}" }}

    {% if 'new' in actions %}
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New</a>
        </div>
    </div>
    {% endif %}
    <table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
            <tr>
            {%- for field, metadata in fields if field != 'id' %}

                <th>{{ field|capitalize }}</th>

            {%- endfor %}

            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
            <tr>

        {%- for field, metadata in fields if field != 'id' %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    <div class="navigation">
        {{ '{{ knp_pagination_render(entities) }}' }}
    </div>

{{ "{% endblock %}" }}
{% endblock body %}
