{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>AuStatus List</h1>
{% endblock %}

{% block body -%}

	<div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="{{ path('austatus_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New</a>
        </div>
    </div>
	<table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Boxhostname</th>
                <th>Querydate</th>
                <th>Propertykey</th>
                <th>Propertyvalue</th>
            </tr>
        </thead>
        <tbody>
			{% for entity in entities %}
				<tr>
					<td><a href="{{ path('austatus_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
					<td>{{ entity.boxHostname }}</td>
					<td>{% if entity.queryDate %}{{ entity.queryDate|date('Y-m-d H:i:s') }}{% endif %}</td>
					<td>{{ entity.propertyKey }}</td>
					<td>{{ entity.propertyValue }}</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
