{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Pln List</h1>
{% endblock %}

{% block body -%}

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    <table class="records_list table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Propserver</th>
                <th>Propspath</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pln_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.propserver }}</td>
                <td>{{ entity.propsPath }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pln_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pln_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('pln_access', { 'id': entity.id }) }}">access</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

        <ul>
        <li>
            <a href="{{ path('pln_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
