{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Deposit List</h1>
    <p class="count">
        Displaying {{ entities|length }} records of {{ entities.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body -%}

    <table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Uuid</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Agreement</th>
                <th>Datedeposited</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('deposit_show', { 'id': entity.id, 'plnId': pln.id }) }}">{{ entity.uuid }}</a></td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.summary }}</td>
                    <td>{{ "%2.1f"|format(entity.agreement * 100) }}%</td>
                    <td>{% if entity.dateDeposited %}{{ entity.dateDeposited|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
