{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>ContentProvider</h1>
{% endblock %}

{% block body -%}
	<div class="btn-toolbar">
		<div class="btn-group pull-right">
			<a href="{{ path('contentprovider') }}" class="btn btn-default">
				<span class="glyphicon glyphicon-arrow-left"></span> Back
			</a>
			<a href="{{ path('contentprovider_edit', { 'id': entity.id }) }}" class="btn btn-default">
				<span class='glyphicon glyphicon-edit'></span> Edit
			</a>
			<a href="{{ path('contentprovider_csv_import', { 'id': entity.id }) }}" class="btn btn-default">
				<span class="glyphicon glyphicon-th-list"></span> Deposit
			</a>
			<a href="{{ path('contentprovider_delete', { 'id': entity.id }) }}" class="btn btn-default js-confirm" data-confirm="Are you sure you want to delete this ContentProvider?">
				<span class='glyphicon glyphicon-remove'></span> Delete
			</a>
		</div>
	</div>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Uuid</th>
                <td>{{ entity.uuid }}</td>
            </tr>
            <tr>
                <th>Permission url</th>
                <td><a href="{{ entity.permissionurl }}">{{ entity.permissionurl }}</a></td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Max file size</th>
                <td>{{ entity.maxFileSize }}</td>
            </tr>
            <tr>
                <th>Max au size</th>
                <td>{{ entity.maxAuSize }}</td>
            </tr>
            <tr>
                <th>Content Owner</th>
                <td><a href="{{ path('contentowner_show', {'id': entity.contentOwner.id}) }}">{{ entity.contentOwner.name }}</a></td>
            </tr>
            <tr>
                <th>PLN</th>
                <td><a href="{{ path('pln_show', {'id': entity.pln.id}) }}">{{ entity.pln.name }}</a></td>
            </tr>
            <tr>
                <th>LOCKSS Plugin</th>
                <td>
					{% if entity.plugin is defined %}
						<a href="{{ path('plugin_show', {'id': entity.plugin.id}) }}">{{ entity.plugin }}</a>
					{% endif %}
				</td>
            </tr>
            <tr>
                <th>Service Document</th>
                <td><a href="{{ url('sword_service', {'On-Behalf-Of': entity.uuid}) }}">XML</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
