{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>ContentProvider</h1>
{% endblock %}

{% block body -%}
    <ul class="record_actions">
        <li>
            <a href="{{ path('contentprovider') }}">
                Back to the list
            </a>
        </li>

        <li>
            <a href="{{ path('contentprovider_edit', { 'id': entity.id }) }}">
                <span class='glyphicon glyphicon-edit'></span>
            </a>
        </li>

        <li>
            <a href="{{ path('contentprovider_delete', { 'id': entity.id }) }}" class="js-confirm" data-confirm="Are you sure you want to delete this ContentProvider?">
                <span class='glyphicon glyphicon-remove'></span>
            </a>
        </li>
    </ul>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ entity.uuid }}</td>
            </tr>
            <tr>
                <th>Permissionurl</th>
                <td>{{ entity.permissionurl }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Maxfilesize</th>
                <td>{{ entity.maxFileSize }}</td>
            </tr>
            <tr>
                <th>Maxausize</th>
                <td>{{ entity.maxAuSize }}</td>
            </tr>
            <tr>
                <th>Plugin</th>
                <td><a href="{{path('plugin_show', {"id": entity.plugin.id}) }}">{{entity.plugin.name}}</a></td>
            <tr>
                <th>Service document</th>
                <td><a href="{{ url('sword_service') }}?On-Behalf-Of={{ entity.uuid }}">XML</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Archival Units</h2>
    <p>This content provider has {{entity.aus|length}} AUs.</p>
{% endblock %}
