{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PluginProperties</h1>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Propertykey</th>
                <td>{{ entity.propertyKey }}</td>
            </tr>
            <tr>
                <th>Propertyvalue</th>
                <td>{{ entity.propertyValue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pluginproperties') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pluginproperties_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
