{% extends '::base.html.twig' %}

    
{% block pageheader %}
    <h1>LogEntry</h1>
{% endblock %}
    
{% block body -%}
        <ul class="record_actions">
    <li>
        <a href="{{ path('log') }}">
            Back to the list
        </a>
    </li>


</ul>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Bundle</th>
                <td>{{ entity.bundle }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ entity.class }}</td>
            </tr>
            <tr>
                <th>Caller</th>
                <td>{{ entity.caller }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
