{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Au List</h1>
    <p class="count">
        Displaying {{ entities|length }} records of {{ entities.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body -%}

    <table class="table table-striped table-condensed table-bordered table-hover">
        <caption style="caption-side:bottom">Status is the most recent status from any box.</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Managed</th>
                <th>Status</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('au_show', {'id': entity.id, 'plnId': pln.id}) }}">{{ prop_generator.generateSymbol(entity, 'au_name') }}</a></td>
                    <td>{% if entity.managed %} Yes {% else %} No {% endif %}</td>
                    <td>{% if entity.auStatus|length > 0 %}{{ entity.auStatus.last().summary() }}{% else %}Not checked{% endif %}</td>
                    <td>{{ entity.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
