{% extends '::base.html.twig' %}

    
{% block pageheader %}
    <h1>Au</h1>
{% endblock %}
    
{% block body -%}
        <ul class="record_actions">
    <li>
        <a href="{{ path('au') }}">
            Back to the list
        </a>
    </li>

    <li>
        <a href="{{ path('au_edit', { 'id': entity.id }) }}">
            <span class='glyphicon glyphicon-edit'></span>
        </a>
    </li>

    <li>
        <a href="{{ path('au_delete', { 'id': entity.id }) }}" class="js-confirm" data-confirm="Are you sure you want to delete this Au?">
            <span class='glyphicon glyphicon-remove'></span>
        </a>
    </li>
</ul>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Managed</th>
                <td>{{ entity.managed }}</td>
            </tr>
            <tr>
                <th>Auid</th>
                <td>{{ entity.auid }}</td>
            </tr>
            <tr>
                <th>Manifesturl</th>
                <td>{{ entity.manifestUrl }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
