{% extends '::base.html.twig' %}


{% macro bytesToSize(bytes) %}
	{% spaceless %}
		{% set kilobyte = 1024 %}
		{% set megabyte = kilobyte * 1024 %}
		{% set gigabyte = megabyte * 1024 %}
		{% set terabyte = gigabyte * 1024 %}

		{% if bytes < kilobyte %}
			{{ bytes ~ ' B' }}
		{% elseif bytes < megabyte %}
			{{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
		{% elseif bytes < gigabyte %}
			{{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
		{% elseif bytes < terabyte %}
			{{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
		{% else %}
			{{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
		{% endif %}
	{% endspaceless %}
{% endmacro %}
{% import _self as self %}

{% block pageheader %}
    <h1>Au</h1>
{% endblock %}

{% macro plugin_props(props) %}
    {% import _self as macros %}
    <ul>
        {% for prop in props %}
            <li>{{ prop.propertyKey }}:
                {% if prop.hasChildren() %}
                    {{ macros.plugin_props(prop.children) }}
                {% else %}
                    {% if prop.propertyValue is iterable %}
                        <ul>
                            {% for v in prop.propertyValue %}
                                <li>{{ v }} </li>
								{% endfor %}
                        </ul>
                    {% else %}
                        {{ prop.propertyValue }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block body -%}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('au') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Au Name</th>
                <td>{{ prop_generator.generateSymbol(entity, 'au_name') }}</td>
            </tr>
			<tr>
				<th>Recent Status</th>
				<td>
					{% set status = entity.auStatus.last() %}
					<a href="{{ path('au_status', {id: entity.id }) }}">{{ status.getAuStatus() }}</a>
				</td>
			</tr>
            <tr>
                <th>Managed</th>
                <td>{{ entity.managed }}</td>
            </tr>
            <tr>
                <th>LOCKSSOMatic Auid</th>
                <td>{{ entity.auid|preg_replace('/([~&])/', '$1&#8203;')|raw }}</td>
            </tr>
			<tr>
				<th>LOCKSS Auid</th>
				<td>{{ auid_generator.fromAu(entity)|preg_replace('/([~&])/', '$1&#8203;')|raw }}</td>
			</tr>
            <tr>
                <th>Size (kB)</th>
                <td>{{ entity.contentSize }}</td>
            </tr>
            <tr>
                <th>Plugin</th>
                <td><a href="{{ path('plugin_show', {'id': entity.plugin.id}) }}">{{ entity.plugin }}</a></td>
            </tr>
            <tr>
                <th>Content Provider</th>
                <td><a href="{{ path('contentprovider_show', {'id': entity.contentProvider.id}) }}">{{ entity.contentProvider.name }}</a></td>
            </tr>
            <tr>
                <th>PLN</th>
                <td><a href="{{ path('pln_show', {'id': entity.pln.id}) }}">{{ entity.pln.name }}</a></td>
            </tr>
            <tr>
                <th>Computed Properties</th>
                <td>
					<dl class='dl-horizontal'>
						<dt>au_name</dt>
						<dd>{{ prop_generator.generateSymbol(entity, 'au_name') }}</dd>
						<dt>au_start_url</dt>
						{% set symbol = prop_generator.generateSymbol(entity, 'au_start_url') %}
						{% if symbol is iterable %}
							{% for s in symbol %}
								<dd><a href="{{s}}">{{ s }}</a></dd>
								{% endfor %}
							{% else %}
							<dd><a href="{{symbol}}">{{symbol}}</a></dd>
							{% endif %}
					</dl>
				</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Content</h2>
    {% set content = entity.content %}
    <p>This au has {{ content | length }} content entries.</p>

    <table class="records_list table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Size</th>
                <th>Datedeposited</th>
                <th>Recrawl</th>
            </tr>
        </thead>
        <tbody>
            {% for c in content %}
                <tr>
                    <td><a href="{{ path('content_show', { 'id': c.id }) }}">{{ c.title }}</a></td>
                    <td>{{ c.url }}</td>
                    <td>{{ c.size }}</td>
                    <td>{% if c.dateDeposited %}{{ c.dateDeposited|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ c.recrawl }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>All Properties</h2>
    {% import _self as macros %}
    {{ macros.plugin_props(entity.getRootPluginProperties()) }}

	<h2>Recent Status</h2>
	{% set status = entity.auStatus.last() %}

	<dl class="dl-horizontal">
		<dt>Date Checked</dt><dd>{{ status.queryDate|date }}</dd>
		<dt>Box</dt><dd>{{status.box.ipaddress}}/{{status.box.hostname }}</dd>
		<dt>Status</dt>
		<dd>{{ status.getAuStatus() }}</dd>
		<dt>Content Size</dt>
		<dd>{{ self.bytesToSize(status.getContentSize()) }}</dd>
		<dt>Disk Usage</dt>
		<dd>{{ self.bytesToSize(status.getDiskUsage()) }}</dd>
		<dt>Most Recent Crawl</dt>
		<dd>{{ status.getLastCrawl()|date }} - {{ status.getLastCrawlResult() }}</dd>
		<dt>Most Recent Poll</dt>
		<dd>{{ status.getLastPoll()|date }} - {{ status.getLastPollResult() }}</dd>
		<p class='text-right'><a href="{{ path('au_status', {'id': entity.id}) }}">Details</a></p>
	</dl>

{% endblock %}
