{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>User Access</h1>
{% endblock %}

{% block body -%}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_user') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('user_access_edit', { 'id': user.id }) }}">
                Edit access for this user
            </a>
        </li>
    </ul>

    <table class="record_properties table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Pln</th>
                <th>Access level </th>
            </tr>
        </thead>
        {% for pln in plns %}
            <tr>
                <th>{{ pln.name }}</th>
                <td>
                    {{ lom_access.findAccessLevel(user, pln) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_user') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('user_access_edit', { 'id': user.id }) }}">
                Edit access for this user
            </a>
        </li>
    </ul>

{% endblock %}
