{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ entity.fullname }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ entity.institution }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% for role in entity.roles %}{{ role }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            <tr>
                <th>Most recent login</th>
                <td>
                    {% if entity.lastLogin %}
                        {{ entity.lastLogin|date('Y-m-d H:i:s') }}
                    {% else %}
                        Never
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if entity.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{% if entity.locked %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
