{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties table table-striped table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ entity.fullname }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ entity.institution }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in entity.roles %}
                        {{ role }}<br />
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_access', { 'id': entity.id }) }}">
            Access
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
