{% trans_default_domain 'FOSUserBundle' %}

{% block pageheader %}
    <h1>Hello {{ user.username }}</h1>
{% endblock %}

{% block body %}
    <table class="record_properties table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ user.fullname }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ user.institution }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">
                Change password
            </a>
        </li>
    </ul>
{% endblock %}

