{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>BoxStatus List</h1>
{% endblock %}

{% block body -%}

	<div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="{{ path('boxstatus_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New</a>
        </div>
    </div>
	<table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Querydate</th>
				<th>Box</th>
                <th>Propertykey</th>
                <th>Propertyvalue</th>
            </tr>
        </thead>
        <tbody>
			{% for entity in entities %}
				<tr>
					<td><a href="{{ path('boxstatus_show', { 'id': entity.id }) }}">{{ entity.queryDate }}</a></td>
					<td><a href="{{ path('box_show', {'id': entity.box.id}) }}">{{ entity.box.hostname }}</a></td>
					<td>{{ entity.propertyKey }}</td>
					<td>{{ entity.propertyValue }}</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
