{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BoxStatus</h1>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Boxesid</th>
                <td>{{ entity.boxesId }}</td>
            </tr>
            <tr>
                <th>Querydate</th>
                <td>{{ entity.queryDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Propertykey</th>
                <td>{{ entity.propertyKey }}</td>
            </tr>
            <tr>
                <th>Propertyvalue</th>
                <td>{{ entity.propertyValue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('boxstatus') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
