{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Box List</h1>
    <p class="count">
        Displaying {{ entities|length }} records of {{ entities.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body -%}

    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="{{ path('box_new', {'plnId': pln.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New</a>
        </div>
    </div>
    <table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>Pln</th>
                <th>Ipaddress</th>
                <th>Status check</th>
                <th>Status result</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('box_show', { 'id': entity.id, 'plnId': pln.id }) }}">{{ entity.hostname }}</a></td>
                    <td><a href="{{ path('pln_show', {'id': entity.pln.id }) }}">{{ entity.pln.name }}</a></td>
                    <td>{{ entity.ipAddress }}</td>
                    <td>
                        {% if entity.currentStatus %}
                            {{ entity.currentStatus.queryDate|date('c') }}
                        {% else %}
                            Never checked
                        {% endif %}
                    </td>                   
                    <td>                
                        {% if entity.currentStatus %}
                            {% if entity.currentStatus.success %}Success{% else %}Failed{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
