{% extends '::base.html.twig' %}

{% macro bytesToSize(bytes) %}
    {# LOCKSS reports box status in 1Kb units, not in bytes. #}
    {% spaceless %}
        {% set kilobyte = 1 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}
{% import _self as self %}

{% block pageheader %}
    <h1>Box Status</h1>
    <p>Displaying status queries for <a href="{{ path('box_show', {'id': entity.id}) }}">{{ entity.hostname }}/{{entity.ipAddress}}:{{entity.webServicePort}}</a></p>
{% endblock %}

{% block body -%}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('au') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>

    {% for status in entity.status|reverse %}
        <h2>{{ status.queryDate|date }}</h2>

        {% if status.success %}

            <ul>
            {% for cache in status.getCaches() %}
                <li>cache: {{ cache.getStatusValue('repositorySpaceId') }}
                    <dl class="dl-horizontal">
                        <dt>Active AUs</dt><dd>{{ cache.getActiveCount() }}</dd>
                        <dt>Disk space</dt><dd>{{ self.bytesToSize(cache.getSize()) }}</dd>
                        <dt>Free space</dt><dd>{{ self.bytesToSize(cache.getFree()) }}</dd>
                        <dt>Used space</dt><dd>{{ self.bytesToSize(cache.getUsed()) }}</dd>
                    </dl>
                </li>
            {% endfor %}
            </ul>

            <p class='text-right'><a href="#" class="details-toggle" data-autoggle="status_{{ status.id}}">Details</a></p>

            <div id="status_{{ status.id}}" class="status-details" data-box="{{ status.box.ipaddress }}">
            {% for cache in status.getCaches() %}
                <h3>{{ cache.getStatusValue('repositorySpaceId') }}</h3>
                <ul>
                {% for key in cache.getStatusKeys() %}
                    <li><strong>{{ key }}</strong>: {{ cache.getStatusValue(key) }}</li>
                {% endfor %}
                </ul>
                {% endfor %}
            </div>		

        {% else %}

            <h3>Status check failed.</h3>   
            <p>{{ status.errors|nl2br }}</p>
            
        {% endif %}

    {% endfor %}

{% endblock %}

{% block javascripts %}
    {% javascripts '@LOCKSSOMaticCrudBundle/Resources/public/js/box_status.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@LOCKSSOMaticCrudBundle/Resources/public/css/box_status.css' %}
    <link rel='stylesheet' href='{{ asset_url }}'>
    {% endstylesheets %}
{% endblock %}